<form action="/register" method="post">
    <input type="text" name="email" placeholder="El teu email" />
    <input type="password" name="password" placeholder="El teu password" />
    <input type="submit" />
</form>
